
body {
    text-align: center;
    background-color: rgb(237, 114, 53);
    color: rgb(2, 2, 95);
    font-family: sans-serif;
}

h1 h3 {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(74, 131, 229);
}


h2 {
    color: whitesmoke;

}
