
body {
    text-align: center;
    background-color: white;
    font-family: sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: white;
    background-color: rgb(218, 128, 68);
    font-size: 60px;
    max-width: 300px
}

h2 {
    color: rgb(218, 128, 68);
    font-size: 24px;
    max-width: 300px
}

p{
    color: rgb(2, 2, 95);
    max-width: 600px;
}

ul{
    max-width: 600px;
}