
body {
    text-align: center;
    background-color: white;
    color: rgb(2, 2, 95);
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: rgb(27, 160, 213);
    background-color: rgb(218, 128, 68);
    font-size: 34px;
}

h2 {
    color: rgb(218, 128, 68);
    font-size: 24px;

}
